body {
    background-image: url('https://image.slidesdocs.com/responsive-images/background/banner-featuring-3d-illustration-of-digital-devices-laptop-mobile-phone-and-tablet-pc-on-purple-wall-shelf-powerpoint-background_ed6b3f53e7__960_540.jpg');
    /*background-image: url('/img/fondo.jpg');*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    height: 100vh;
}

.table-fixed tbody {
    height: 300px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
    float: left;
    position: relative;

    &::after {
        content: '';
        clear: both;
        display: block;
    }
}

