body {
    background-image: url('https://image.slidesdocs.com/responsive-images/background/banner-featuring-3d-illustration-of-digital-devices-laptop-mobile-phone-and-tablet-pc-on-purple-wall-shelf-powerpoint-background_ed6b3f53e7__960_540.jpg');
    /*background-image: url('/img/fondo.jpg');*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    height: 100vh;
}


